@font-face {
	font-family: 'Aeonik Pro';
	src: url('@/assets/fonts/Nebulas-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik Pro';
	src: url('@/assets/fonts/Nebulas-Medium.ttf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik Pro';
	src: url('@/assets/fonts/Nebulas-Medium.ttf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik Pro';
	src: url('@/assets/fonts/AeonikPro-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
